{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "reporter": ["text", "html", "lcov"],
  "include": ["**/*.js"],
  "exclude": [
    "tests",
    "node_modules",
    "coverage"
  ]
}
